@using ContentManagementSystem.Framework.Models.HomePage;
@model Ribbon

@helper RenderRibbonItem( RibbonItem ribbonItem, string index )
{
string idIndex = "Items_" + index + "__";
string nameIndex = "Items[" + index + "].";
string backgroundColor = ribbonItem.Background ?? "transparent";
int height = ribbonItem.Height;

if ( height < 60 )
{
        height = 60;
}

    <div class="ribbon-item editable" style="background-color: @backgroundColor; height: @(height)px;">
        <div class="b-grid">
            <div class="editable b-width-1-1">

            </div>
        </div>
        <div class="ribbon-item-tools">
            <input type="hidden" id="@( idIndex + "Height" )" name="@( nameIndex + "Height" )" value="@height" />
            <div class="ribbon-item-template ui-front">
                <select id="gaf" name="fs">
                    <option>One Column</option>
                    <option>Two Columns</option>
                    <option>Three Columns</option>
                </select>
            </div>
            <div class="remove-ribbon-item">
                <i class="fa fa-close"></i>
            </div>
            <div class="ribbon-item-color-picker">
                <input id="@( idIndex + "Background" )" name="@( nameIndex + "Background" )" type="color" value="@backgroundColor" />
            </div>
            <div class="adjust-height"></div>
        </div>
    </div>
}

<div id="ribbon-items">
    @for ( int i = 0 ; i < Model.Items.Count ; i++ )
    {
        @RenderRibbonItem( Model.Items[ i ], i.ToString() )
    }
</div>

@Html.Button( "Add Item", "add-ribbon-item" )

<div id="ribbon-item-template" style="display: none;">
    @RenderRibbonItem( new RibbonItem(), "template" )
</div>

<div id="columnPopup" style="display: none;">
    <div class="modal-content">
        <textarea id="columnContent"></textarea>
        <div class="button-list text-right margin-top">
            @Html.Button( "Cancel", "cancelColumnContent" )
            @Html.Button( "Accept", "acceptColumnContent" )
        </div>
    </div>
</div>

<script>

    var currentIndex = @Model.Items.Count;
    var currentGrid = undefined;

    function addRibbonItem()
    {
        var $clone = $( '#ribbon-item-template' ).children().clone();

        $clone.find('input, select').each(function ()
        {
            var $this = $(this);
            $this.attr('name', $this.attr('name').replace(/\[+[a-z]+\]/g, '[' + currentIndex + ']'));
            $this.attr('id', $this.attr('id').replace(/_+[a-z]+_/g, '_' + currentIndex + '_'));

            $this.removeAttr('disabled');
        });

        $clone.find('select').selectmenu({
            change: function ()
            {
                configureForColumns($clone, $(this).val());
            }
        }).on('mousein', function (e)
        {
            console.log(e);
        }).next().css('width', 'auto');

        $clone.find('label').each(function ()
        {
            var $this = $(this);
            $this.attr('for', $this.attr('for').replace(/_+[a-z]+_/g, '_' + currentIndex + '_'));
        });

        $clone.find('[type="color"]').spectrum({
            color: 'transparent',
            preferredFormat: 'hex',
            showInput: true,
            allowEmpty: true,
            showPalette: true,
            showInitial: true,
            palette: [
                ['black', 'white', 'blue', 'red'],
                ['green', 'orange']
            ],
            move: function (color)
            {
                $clone.css('background-color', color ? color.toHexString() : 'transparent');
            },
            hide: function (color)
            {
                $clone.css('background-color', color ? color.toHexString() : 'transparent');
            }
        });

        $clone.resizable({
            handles: 's'
        });

        $clone.children().on('mouseout', function (e)
        {
            e.stopPropagation();
        });

        $clone.on('mouseout', function (e)
        {
            var $related = $(e.relatedTarget);
            
            if ( !$related.is($clone) && $related.closest('.ribbon-item').is($clone) )
            {
                return;
            }
            $clone.find('select').selectmenu('close');
        });

        ++currentIndex;

        $('#ribbon-items').append($clone);
    }

    function configureForColumns($ribbon, value)
    {
        var html = new Array();
        var columnWidths = new Array();
        var $grid = $ribbon.children('.b-grid');

        $grid.children().each(function ()
        {
            html.push($(this).html());
        });

        $grid.empty();
        
        switch (value)
        {
            case 'One Column':
                columnWidths.push('1-1');
                break;
            case 'Two Columns':
                columnWidths.push('1-2');
                columnWidths.push('1-2');
                break;
            case 'Three Columns':
                columnWidths.push('1-3');
                columnWidths.push('1-3');
                columnWidths.push('1-3');
                break;
        }

        for ( var i = 0; i < columnWidths.length; i++ )
        {
            var $div = $('<div class="editable b-width-' + columnWidths[i] + '"></div>');

            if ( i < html.length )
                $div.html(html[i]);

            $grid.append($div);
        }
    }
        
    function acceptModalChanges()
    {
        console.log($('#columnContent').val());
        currentGrid.html($('#columnContent').val());
        $('#columnPopup').bgmodal('close');
    }

    function cancelModalChanges()
    {
        $('#columnPopup').bgmodal('close');
    }

    $( function ()
    {
        $( '#ribbon-item-template' ).find('input, select').attr('disabled', 'disabled');

        $( '#add-ribbon-item' ).on( 'click', addRibbonItem );

        $(document).on('click', '.remove-ribbon-item', function ()
        {
            $(this).closest('.ribbon-item').remove();
        });

        $(document).on('click', '.ribbon-item > .b-grid .editable', function ()
        {
            currentGrid = $(this);
            $('#columnContent').val(currentGrid.html());
            $('#columnPopup').bgmodal('open');
        });

        CKEDITOR.replace('columnContent');

        $('#cancelColumnContent').on('click', cancelModalChanges);
        $('#acceptColumnContent').on('click', acceptModalChanges);

        $('#columnPopup').bgmodal(
        {
            autoOpen: false
        });
    } );

</script>