@using ContentManagementSystem.Shop.Models;
@using ContentManagementSystem.Helpers;
@model ProductsListModel

@{
    PageTitle = "Products";
    SelectListGenerator generateList = new SelectListGenerator();
}

@helper RenderProduct( ProductsListItemModel product )
{
    <div class="product-tile">
        <div class="product-image">
            <img src="@product.ImageLocation" />
        </div>
        <div class="product-short-description">
            <div class="product-pricing">
                <div class="product-price">
                    @product.Price.ToString( "C2" )
                </div>
                <div class="product-stock-status @(product.IsInStock ? "in-stock" : "out-of-stock")">@(product.IsInStock ? "In Stock" : "Out of Stock")</div>
            </div>
            <div class="product-name">@product.Title</div>
        </div>
    </div>
}

<h1>@PageTitle</h1>
<div class="page-inner-content product-filters top-filters">
    <dl>
        @Html.DropDownListFieldFor( m => m.ProductCategoryId, generateList.ProductCategories( Model.ProductCategoryId, "All Categories" ) )
    </dl>
    <dl>
        @Html.DropDownListFieldFor( m => m.ProductCategoryId, generateList.ProductCategories( Model.ProductCategoryId, "All Categories" ) )
    </dl>
    <dl>
        @Html.DropDownListFieldFor( m => m.ProductCategoryId, generateList.ProductCategories( Model.ProductCategoryId, "All Categories" ) )
    </dl>
    <dl>
        @Html.DropDownListFieldFor( m => m.ProductCategoryId, generateList.ProductCategories( Model.ProductCategoryId, "All Categories" ) )
    </dl>
</div>
@foreach ( ProductsListItemModel product in Model.Products )
{
    @RenderProduct( product );
}
@foreach ( ProductsListItemModel product in Model.Products )
{
    @RenderProduct( product );
}
@foreach ( ProductsListItemModel product in Model.Products )
{
    @RenderProduct( product );
}
@foreach ( ProductsListItemModel product in Model.Products )
{
    @RenderProduct( product );
}
@foreach ( ProductsListItemModel product in Model.Products )
{
    @RenderProduct( product );
}
@foreach ( ProductsListItemModel product in Model.Products )
{
    @RenderProduct( product );
}
@foreach ( ProductsListItemModel product in Model.Products )
{
    @RenderProduct( product );
}


@section overlays
{
    <div class="product-information-overlay" style="display: none;">
        <div class="overlay-background"></div>
        <div class="overlay-content">
            <div class="overlay-images">
                <div class="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item">
                            <img src="/Content/UploadsFolder/Chrysanthemum.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/UploadsFolder/Desert.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/UploadsFolder/Hydrangeas.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/UploadsFolder/Jellyfish.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/UploadsFolder/Koala.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/UploadsFolder/Lighthouse.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/UploadsFolder/Penguins.jpg" />
                        </div>
                        <div class="carousel-item">
                            <img src="/Content/UploadsFolder/Tulips.jpg" />
                        </div>
                    </div>
                    <div class="carousel-previous hidden">
                        <i class="fa fa-arrow-left"></i>
                    </div>
                    <div class="carousel-next">
                        <i class="fa fa-arrow-right"></i>
                    </div>
                </div>
            </div>
            <div class="product-inner-content">
                <div class="pricing-details">
                    <div id="pricing">
                        <div class="b-grid full-box">
                            <div class="b-width-4-10 original-product-price">
                                <div class="price-">was $50</div>
                                <span>save 20%</span>
                            </div>
                            <div class="b-width-6-10 product-price">
                                $40
                            </div>
                        </div>
                        <p class="product-stock-status in-stock">In Stock</p>
                        <div class="text-right">
                            <div class="button primary">Add to cart</div>
                        </div>
                    </div>
                </div>
                <div class="product-description">
                    My money's in that office, right?
                    <br />
                    If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there.
                    <br />
                    Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is.
                    <br />
                    She gonna tell me too.
                    <br />
                    Hey, look at me when I'm talking to you, motherfucker.
                    <br />
                    You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot.
                    <br />
                    You understand?
                    <br />
                    &nbsp;
                    <br />
                    Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks.
                    <br />
                    Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?
                    <br />
                    &nbsp;
                    <br />
                    My money's in that office, right?
                    <br />
                    If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there.
                    <br />
                    Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is.
                    <br />
                    She gonna tell me too.
                    <br />
                    Hey, look at me when I'm talking to you, motherfucker.
                    <br />
                    You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot.
                    <br />
                    You understand?
                    <br />
                    &nbsp;
                    <br />
                    Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks.
                    <br />
                    Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?
                    <br />
                    &nbsp;
                    <br />
                    My money's in that office, right?
                    <br />
                    If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there.
                    <br />
                    Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is.
                    <br />
                    She gonna tell me too.
                    <br />
                    Hey, look at me when I'm talking to you, motherfucker.
                    <br />
                    You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot.
                    <br />
                    You understand?
                    <br />
                    &nbsp;
                    <br />
                    Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks.
                    <br />
                    Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?
                    <br />
                    &nbsp;
                    <br />
                    My money's in that office, right?
                    <br />
                    If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there.
                    <br />
                    Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is.
                    <br />
                    She gonna tell me too.
                    <br />
                    Hey, look at me when I'm talking to you, motherfucker.
                    <br />
                    You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot.
                    <br />
                    You understand?
                    <br />
                    &nbsp;
                    <br />
                    Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks.
                    <br />
                    Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?
                    <br />
                    &nbsp;
                    <br />
                    My money's in that office, right?
                    <br />
                    If she start giving me some bullshit about it ain't there, and we got to go someplace else and get it, I'm gonna shoot you in the head then and there.
                    <br />
                    Then I'm gonna shoot that bitch in the kneecaps, find out where my goddamn money is.
                    <br />
                    She gonna tell me too.
                    <br />
                    Hey, look at me when I'm talking to you, motherfucker.
                    <br />
                    You listen: we go in there, and that nigga Winston or anybody else is in there, you the first motherfucker to get shot.
                    <br />
                    You understand?
                    <br />
                    &nbsp;
                    <br />
                    Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks.
                    <br />
                    Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?
                </div>
            </div>
        </div>
        <div class="close-overlay">
            <span class="hover-background"></span>
            <i class="fa fa-close"></i>
        </div>
    </div>
}

@section scripts
{
    <script src="~/Scripts/bg.carousel.js"></script>
}

<script>

    function ProductsPage()
    {
        var $carousel;
        var originalPricePosition;
        var _data = {

        };

        function init()
        {
            $carousel = $( '.carousel' ).carousel();

            $( '.product-tile' ).on( 'click', function ()
            {
                var $overlay = $( '.product-information-overlay' ).show();

                $carousel.carousel( 'refresh' );

                setTimeout( function ()
                {
                    $overlay.addClass( 'on' );
                    window.onscroll = adjustPricingPosition;
                    setTimeout( function ()
                    {
                        $overlay.addClass( 'open' );
                        $carousel.carousel( 'refresh' );

                        originalPricePosition = $('#pricing').offset();
                        console.log(originalPricePosition);
                    }, 500 );
                }, 100 );
            } );

            $( '.close-overlay' ).on( 'click', function ()
            {
                $( '.product-information-overlay' ).removeClass( 'open' ).removeClass( 'on' );
                setTimeout( function ()
                {
                    $( '.product-information-overlay' ).hide();
                    window.onscroll = undefined;
                }, 500 );
            } );
        }

        function showProductDescription()
        {
            $( '.product-information-overlay' ).addClass( 'show-data' );
        }

        function hideProductDescription()
        {
            $( '.product-information-overlay' ).removeClass( 'show-data' );
        }

        function adjustPricingPosition()
        {
            var $window = $( window );
            console.log( window.scrollY );
        }

        init();
    }

    $( function ()
    {
        var productsPage = new ProductsPage();
    } );
</script>