@model ContentManagementSystem.Framework.Models.Page.BlogList

@{
    HideSocialButtons = true;
}

<div class="b-grid blog-list">
    @for ( int j = 0 ; j < 2 ; j++ )
    {
        for ( int i = 0 ; i < Model.BlogPosts.Count ; i++ )
        {
            DateTime publishedServerTime = Model.BlogPosts[ i ].UTCDateUpdated.ToLocalTime();
            string exerpt = Model.BlogPosts[ i ].Content;
            int index = exerpt.IndexOf( "</p>" );
            bool hasMore = false;
            if ( index > -1 )
            {
                index = exerpt.IndexOf( "</p>", index + 4 );

                if ( index > -1 )
                {
                    exerpt = exerpt.Remove( index + 4 );
                    hasMore = exerpt.Length < Model.BlogPosts[ i ].Content.Length;
                }
            }

            <div class="b-width-1-1">
                <div class="blog-post">
                    <div class="blog-header">
                        <h2>
                            @Model.BlogPosts[ i ].Title
                        </h2>
                        <span class="float-right blog-publish-info">
                            Published on <span class="blog-published-date">@publishedServerTime.ToString( "dd/MM/yyyy" )</span> at <span class="blog-published-time">@publishedServerTime.ToString( "hh:mmtt" )</span> by <span class="blog-published-by">@Model.BlogPosts[ i ].LastEditedByUser.UserName</span>
                        </span>
                    </div>
                    <div class="blog-content">
                        <div class="blog-inner-content">
                            <div class="blog-post-exerpt">
                                @Html.Raw( exerpt )
                            </div>
                            @if ( hasMore )
                            {
                                <div class="read-more">
                                    <a href="@Url.Action( "Index", "BlogPost", new { Area = "Home", blogPostId = Model.BlogPosts[ i ].BlogId } ) " class="button text">Read more</a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="blog-footer clear-fix">

                    </div>
                </div>
            </div>
        }
    }
</div>

<script>
    $( function ()
    {
        _site.initialisePageSection( new Site.Blogs() );
    } );
</script>