@using ContentManagementSystem.Framework.Models.HomePage.ContentTypes;
@model Banner

<div class="admin-carousel">
    <div class="admin-carousel-add add-left">
        @Glyph( "plus" )
    </div>
    <div class="admin-carousel-add add-right">
        @Glyph( "plus" )
    </div>
    <div class="carousel">
        <div class="carousel-inner">
            <div class="carousel-item">
                <img src="~/Content/Images/Backgrounds/background.png" />
            </div>
            <div class="carousel-item">
                <img src="~/Content/Images/Backgrounds/background.png" />
            </div>
        </div>
        @*<div class="carousel-previous">
            @Glyph( "chevron-left" )
        </div>
        <div class="carousel-next">
            @Glyph( "chevron-right" )
        </div>*@
    </div>
</div>
<div class="admin-carousel-tray">
    <ul>
        <li>
            <img src="~/Content/Images/Backgrounds/background.png" />
        </li>
        <li>
            <img src="~/Content/Images/Backgrounds/background.png" />
        </li>
    </ul>
</div>
<div class="button-list text-right margin-top">
    @Html.Button( "Cancel", ButtonType.Cancel, "cancelBannerEditor" )
    @Html.Button( "Accept", ButtonType.Primary, "acceptBannerEditor" )
</div>
<script>
    $( function ()
    {
        var bannerAdmin = new apollyon.BannerAdmin();

        $( "#cancelBannerEditor" ).on( "click", function ()
        {
            $( this ).closest( ".modal-content" ).parent().bgmodal( "close" );
        } );

        $( "#acceptBannerEditor" ).on( "click", function ()
        {

        } );
    } );
</script>