@using ContentManagementSystem.Framework.Models.HomePage.ContentTypes;
@model Banner

<div class="admin-carousel">
    <div class="admin-carousel-add add-left">
        @Glyph( "plus" )
    </div>
    <div class="admin-carousel-add add-right">
        @Glyph( "plus" )
    </div>
    <div class="carousel">
        <div class="carousel-inner">
        </div>
    </div>
    <div class="admin-carousel-tools lower">
        <span id="selectPicture">
            @Glyph( "picture-o" )
        </span>
    </div>
    <div class="admin-carousel-tools upper">
        <span id="removeSlide">
            @Glyph( "remove" )
        </span>
    </div>
</div>
<div class="admin-carousel-tray">
    <ul>
    </ul>
</div>
<div class="button-list text-right margin-top">
    @Html.Button( "Cancel", ButtonType.Cancel, "cancelBannerEditor" )
    @Html.Button( "Accept", ButtonType.Primary, "acceptBannerEditor" )
</div>
<script>
    $( function ()
    {
        var bannerAdmin = new apollyon.BannerAdmin();

        $( "#cancelBannerEditor" ).on( "click", function ()
        {
            $( this ).closest( ".modal-content" ).parent().bgmodal( "close" );
        } );
    } );
</script>