@using ContentManagementSystem.Framework.Models.HomePage.ContentTypes;
@model Banner

@{ 
    string slides = "[]";

    if ( Model.Slides.Count > 0 )
    {
        slides = "[" + string.Join( ",", Model.Slides.Select( s => "{uploadId:\"" + s.UploadId + "\",imgUrl:\"" + s.ImgUrl + "\"}" ) ) + "]";
    }
}

<div class="admin-carousel-options">
    <div class="b-grid">
        <div class="b-width-1-3">
            <dl>
                @Html.DropDownListFieldFor( s => s.BannerType, CreateSimpleSelectList.FromEnum<BannerType>( Model.BannerType ) )
            </dl>
        </div>
        <div class="b-width-1-3">
            <dl>
                @Html.TextBoxFieldFor( m => m.Width )
            </dl>
        </div>
        <div class="b-width-1-3">
            <dl>
                @Html.TextBoxFieldFor( m => m.Height )
            </dl>
        </div>
    </div>
</div>
<div class="admin-carousel">
    <div class="admin-carousel-add add-left">
        @Glyph( "plus" )
    </div>
    <div class="admin-carousel-add add-right">
        @Glyph( "plus" )
    </div>
    <div class="carousel">
        <div class="carousel-inner">
        </div>
    </div>
    <div class="admin-carousel-tools lower">
        <span id="selectPicture">
            @Glyph( "picture-o" )
        </span>
    </div>
    <div class="admin-carousel-tools upper">
        <span id="removeSlide">
            @Glyph( "remove" )
        </span>
    </div>
</div>
<div class="admin-carousel-tray">
    <ul></ul>
</div>
<div class="button-list text-right margin-top">
    @Html.Button( "Cancel", ButtonType.Cancel, "cancelBannerEditor" )
    @Html.Button( "Accept", ButtonType.Primary, "acceptBannerEditor" )
</div>
<script>
    $( function ()
    {
        var bannerAdmin = new apollyon.BannerAdmin( @Html.Raw( slides ) );

        $( "#cancelBannerEditor" ).on( "click", function ()
        {
            $( this ).closest( ".modal-content" ).parent().bgmodal( "close" );
        } );
    } );
</script>