@model ContentManagementSystem.Admin.Models.BlogPostListModel
@{
    PageTitle = "Blog Posts";
}

<table>
    <thead>
        <tr>
            <th class="text-left">Page Title</th>
            <th class="text-left">Status</th>
            <th class="text-left date-with-name-column">Last Updated</th>
            <th class="text-right options-column">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var blogPost in Model.BlogPosts )
        { 
            <tr>
                <td class="text-left">
                    @blogPost.Title
                </td>
                <td class="text-left">
                    @blogPost.PageStatus
                </td>
                <td class="text-left date-with-name-column">
                    @blogPost.DateUpdated.ToString( "dddd dd/MM/yyyy hh:mm tt" ) by @blogPost.LastEditedByName
                </td>
                <td class="text-right options-column">
                    <a href="@Url.Action( "Edit", "BlogPost", new { Area = "Admin", id = blogPost.BlogPostId } )" class="table-button">Edit</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"></td>
        </tr>
    </tfoot>
</table>

<a href="@Url.Action( "Create", "BlogPost", new { Area = "Admin" } )" class="button primary">Add Blog Post</a>