@model ContentManagementSystem.Admin.Models.PageModel
@{
    PageTitle = ( Model.PageId.HasValue ? "Edit" : "Add" ) + " Page";
}

<h2>@PageTitle</h2>

@using ( Html.BeginForm( "Edit", "Page" ) )
{
    @Html.HiddenFor( m => m.PageId )
    @Html.HiddenFor( m => m.Publish )
    <dl>
        @Html.TextBoxFieldFor( m => m.Title )
        @Html.TextAreaFieldFor( m => m.Content )
    </dl>
    @Html.Button( "Save as Draft", ButtonType.Secondary, "saveDraft" )
    @Html.Button( "Save & Publish", ButtonType.Primary, "savePublish" )
}

@section scripts
{
    <script>
        $(function ()
        {
            CKEDITOR.replace('Content');

            $( '#saveDraft' ).on( 'click', function ()
            {
                $( '#Publish' ).val( 'false' );
                $( 'form' ).submit();
            } );

            $( '#savePublish' ).on( 'click', function ()
            {
                $( '#Publish' ).val( 'true' );
                $( 'form' ).submit();
            } );
        });
    </script>
}