@model ContentManagementSystem.Admin.Models.PageListModel
@{
    PageTitle = "Pages";
}

<table>
    <thead>
        <tr>
            <th class="text-left">Page Title</th>
            <th class="text-left">Status</th>
            <th class="text-left date-with-name-column">Last Updated</th>
            <th class="text-right options-column">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var page in Model.Pages )
        { 
            <tr>
                <td class="text-left">
                    @page.Title
                </td>
                <td class="text-left">
                    @page.PageStatus
                </td>
                <td class="text-left date-with-name-column">
                    @page.DateUpdated.ToString( "dddd dd/MM/yyyy hh:mm tt" ) by @page.LastEditedByName
                </td>
                <td class="text-right options-column">
                    <a href="@Url.Action( "Edit", "Page", new { Area = "Admin", id = page.PageId } )" class="table-button">Edit</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"></td>
        </tr>
    </tfoot>
</table>

<a href="@Url.Action( "Edit", "Page", new { Area = "Admin" } )" class="button primary">Add Page</a>