@using ContentManagementSystem.Helpers;
@model ContentManagementSystem.Admin.Models.ProductModel
@{
    PageTitle = ( Model.ProductId.HasValue ? "Edit" : "Add" ) + " Product";
    SelectListGenerator generator = new SelectListGenerator();
}

<div class="b-width-1-1">
    <h2>@PageTitle</h2>
</div>

@using ( Html.BeginForm( "Edit", "Product" ) )
{
    @Html.HiddenFor( m => m.ProductId )
    <div class="b-grid">
        <div class="b-width-1-2">
            <dl>
                @Html.TextBoxFieldFor( m => m.Title )
                @Html.DropDownListFieldFor( m => m.ProductCategoryId, generator.ProductCategories( Model.ProductCategoryId ), "Select a category" )
                @Html.TextBoxFieldFor( m => m.ItemNo )
                @Html.TextAreaFieldFor( m => m.Description )
                @Html.TextBoxFieldFor( m => m.Price )
                @Html.TextBoxFieldFor( m => m.StockCount )
            </dl>
            <div id="imagesList" style="display: none;">

            </div>
        </div>
        <div class="b-width-1-2">
            <ul id="uploadImages">
                @foreach ( var image in Model.ProductImageModels )
                {
                    <li data-upload-id="@image.UploadId">
                        <img src="@image.ImageLocation" />
                    </li>
                }
            </ul>
            @Html.Button( "Add Image(s)", ButtonType.Primary, "addNewImages" )
        </div>
    </div>
    <div class="b-width-1-1">
        <button>Submit</button>
    </div>
}

@section scripts
{
<script>
    $( function ()
    {
        function handleImageSelection( images, imageCount )
        {
            var $images = $( '#uploadImages' );
            
            for ( var i = 0; i < imageCount; i++ )
            {
                if ( $images.children( '[data-upload-id="' + images[i].uploadId + '"]' ).length == 0 )
                {
                    $images.append( '<li data-upload-id="' + images[i].uploadId + '"><img src="' + images[i].imageLocation + '" /></li>' );
                }
            }

            var $imagesList = $( '#imagesList' ).empty();
            $( '#uploadImages' ).children().each( function ( index, element )
            {
                $imagesList.append( '<input type="hidden" name="ProductImageModels[' + index + '].UploadId" value="' + $( element ).attr( 'data-upload-id' ) + '" />' );
                $imagesList.append( '<input type="hidden" name="ProductImageModels[' + index + '].Ordinal" value="' + index + '" />' );
            } );
        }

        $('#ProductCategoryId').on('change', function () {

        } );

        $( '#addNewImages' ).on( 'click', function ()
        {
            IMAGEBROWSER.openBrowser( $( this ), handleImageSelection );
        } );
    });
</script>
}