@model ContentManagementSystem.Admin.Models.ProductsListModel

@{
    PageTitle = "Products";
}

<table>
    <thead>
        <tr>
            <th class="text-left">Product</th>
            <th class="text-left">Category</th>
            <th class="text-left">In Stock</th>
            <th class="text-left date-with-name-column">Last Updated</th>
            <th class="text-right options-column">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var product in Model.Products )
        {
            <tr>
                <td class="text-left">
                    @product.Title
                </td>
                <td class="text-left">
                    @product.CategoryName
                </td>
                <td class="text-left">
                    @product.StockCount
                </td>
                <td class="text-left date-with-name-column">
                    @*@product.DateUpdated.ToString( "dddd dd/MM/yyyy hh:mm tt" ) by @product.LastEditedByName*@
                </td>
                <td class="text-right options-column">
                    <a href="@Url.Action( "Edit", "Product", new { Area = "Admin", id = product.ProductId } )" class="table-button">Edit</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5"></td>
        </tr>
    </tfoot>
</table>

<a href="@Url.Action( "Create", "Product", new { Area = "Admin" } )" class="button primary">Add Product</a>