@model ContentManagementSystem.Admin.Models.DomainModel
@{
    PageTitle = "Edit Domain Settings";
}

<h2>@PageTitle</h2>

@using ( Html.BeginForm() )
{
    <dl>
        @Html.TextBoxFieldFor( m => m.Name )
        @Html.DropDownListFieldFor( m => m.BackgroundUploadId, Model.GetImageOptions( Model.BackgroundUploadId ) )
        @Html.DropDownListFieldFor( m => m.LogoUploadId, Model.GetImageOptions( Model.LogoUploadId ) )
        @Html.DropDownListFieldFor( m => m.Theme, Model.GetThemeOptions() )
    </dl>
    @Html.SubmitButton( "Save" )
}
