@model ContentManagementSystem.Framework.Models.HomePage.ContentTypes.Banner

@{
    string carouselId = "section_" + Guid.NewGuid().ToString().Substring( 0, 8 );
}
<div id="@carouselId" class="carousel">
    <div class="carousel-inner" style="left: 0%;">
        @foreach ( var bannerItem in Model.Slides )
        {
            <div class="carousel-item">
                @If( bannerItem.PageId.HasValue, "<a href=\"" + bannerItem.PageUrl + "\">" )
                <img src="@bannerItem.ImgUrl" />
                @If( bannerItem.PageId.HasValue, "</a>" )
            </div>
        }
    </div>
</div>

@Html.SectionInit( "new apollyon.Banner( $( \"#" + carouselId + "\" ), { bannerType: apollyon.BannerType." + Model.BannerType.ToString() + ", width: \"" + Model.Width + "\", height: \"" + Model.Height + "\" } )" )