@{ 
    bool hasBackgroundImage = UserCookie.Current.BackgroundUrl != null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@PageTitle</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render( "~/Content/css" )
        <link rel="stylesheet" href="@(ContentLocation.ThemesLocation)@(UserCookie.Current.Theme).min.css" />
        @*<link rel="stylesheet" href="/content/styles/themes/outofmars.min.css" />*@
        @Scripts.Render( "~/bundles/modernizr" )
        @Scripts.Render( "~/bundles/jquery" )
        @Scripts.Render( "~/bundles/jqueryval" )
        @Scripts.Render( "~/bundles/site" )
        @Scripts.Render( "~/scripts/theme/" + UserCookie.Current.Theme )
        @*@Scripts.Render( "~/scripts/theme/outofmars" )*@
        <script>
            var _site;

            $(function ()
            {
                _site = new bgrade.Site();
            });
        </script>
    </head>
    <body>
        @if ( hasBackgroundImage )
        {
        <img class="page-background" src="@UserCookie.Current.BackgroundUrl" />
        }
        @Html.Partial( "~/Views/Theme/" + UserCookie.Current.Theme + "/Header.cshtml" )
        @*@Html.Partial( "~/Views/Theme/outofmars/Header.cshtml" )*@
        <div class="page-content">
            @RenderSection( "overlays", false )
            @if ( string.IsNullOrEmpty( PageTitle ) == false && HideTitle == false )
            {
                <div class="page-header-wrapper">
                    <div class="page-header">
                        <h1>@PageTitle</h1>
                    </div>
                </div>
            }
            <div id="body" class="content-wrapper @If( IsHomePage, "home-page-content" ) @If( hasBackgroundImage == false, "no-background-image" )">
                <section class="main-content">
                    <div class="page-content-wrapper">
                        @if ( UseFullWidth )
                        {
                            @RenderBody()
                        }
                        else
                        {
                        <div class="page-content">
                            @RenderBody()
                            @if ( HideSocialButtons == false )
                            {
                            <div id="social"></div>
                            }
                        </div>
                        }
                    </div>
                </section>
            </div>
            @Html.Partial( "~/Views/Theme/" + UserCookie.Current.Theme + "/Footer.cshtml" )
        </div>
        <div id="notifications"></div>
        @RenderSection("scripts", required: false)
    </body>
</html>
