@using ContentManagementSystem.Models;
@model LoginModel

@{
    PageTitle = "Log in";
    HideSocialButtons = true;
}

<section id="loginForm">
    @using ( Html.BeginForm( new { ReturnUrl = ViewBag.ReturnUrl } ) )
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary( true )

        <fieldset>
            <dl>
                @Html.TextBoxFieldFor( m => m.UserName )
                @Html.PasswordFieldFor( m => m.Password )
                @Html.CheckboxFieldFor( m => m.RememberMe )

                @*@Html.CheckBoxFor( m => m.RememberMe )
                @Html.LabelFor( m => m.RememberMe, new { @class = "inline-block" } )*@
            </dl>
            @Html.SubmitButton( "Log in" )
        </fieldset>
    }
</section>
<section id="registerForm">
    @Html.Partial( "Register", new RegisterModel() )
</section>

@section Scripts 
{
    @Scripts.Render("~/bundles/jqueryval")
}
