
<header class="always-open">


    <nav>
        <div class="nav-content">
            @if ( UserCookie.Current.IsLoggedIn )
            {
                using ( Html.BeginForm( "LogOff", "Account", new { Area = "Home" } ) )
                {
                    @Html.AntiForgeryToken()
                    <span onclick="$(this).parent().submit();" class="logged-in-button">
                        <span class="icon">
                            <i class="icon fa fa-sign-out"></i>
                        </span>
                        <span class="text">Logout</span>
                    </span>
                }
            }
            else
            {
                <a href="@Url.Action( "Login", "Account", new { Area = "Home" } )" class="login-button">
                    <span class="icon">
                        <i class="fa fa-sign-in"></i>
                    </span>
                    <span class="text">Login</span>
                </a>
            }
            <a href="/" class="home-link">
                <img src="/Images/Header/Logo.png" />
            </a>
            <ul id="menu" class="off">
                @if ( UserCookie.Current.IsLoggedIn && UserCookie.Current.IsAdministrator )
                {
                    <li class="off">
                        <div class="nav-link">
                            <a href="@Url.Action( "Index", "Home", new { Area = "Admin" } )">Admin</a>
                        </div>
                    </li>
                }
                <li class="off">
                    <div class="nav-link">
                        <a href="/">Home</a>
                    </div>
                </li>
                @foreach ( var navItem in UserCookie.Current.NavItems )
                {
                    <li class="off">
                        <div class="nav-link">
                            <a href="@Url.Action( "Index", "Page", new { Area = "Home", pageId = navItem.PageId } )">@navItem.Title</a>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="copy-right content-wrapper text-center">
            <p>&copy; @DateTime.Now.Year - Stephen Barnes</p>
        </div>
    </nav>
    <div class="menu-link">
        <span></span>
    </div>
</header>