@model ContentManagementSystem.Admin.Models.NavigationModel
@{
    PageTitle = ( Model.DomainNavigationItemId.HasValue ? "Edit" : "Add" ) + " Navigation Item";
}

<h2>@PageTitle</h2>

@using ( Html.BeginForm( "Edit", "Navigation" ) )
{
    @Html.HiddenFor( m => m.DomainNavigationItemId )
    <div class="button-list text-right">
        @Html.SubmitButton( "Save" )
    </div>
    <dl>
        @Html.TextBoxFieldFor( m => m.Title )
        @Html.DropDownListFieldFor( m => m.PageId, Model.GetAvailablePages(), "Please select" )
        @Html.DropDownListFieldFor( m => m.ParentDomainNavigationItemId, Model.GetRootNavItems(), "(Optional) Please select" )
    </dl>
}